  *{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

@media (min-aspect-ratio:1/1) {


	/* Navigation bar */
	.navbar {
		height:100%;
		width:7vw;
		top:0;
		left:0;
		position:fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		font-size: 1vw;
		background-color: rgb(241, 241, 241);
		opacity:0.7;
	}

		.navbar .navbar-text-options {
			margin: 1px;
			height: 7vw;
			width:100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0 0 0 2.5vw;
		}

		.navbar .text {
			height:3vw;
			width: 7vw;
			margin:3vw 3.5vw 2vw 0;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
		}

			.text .font{
				font-size: 1.2vw;

			}


		.navbar #navbar-icons-container {
			height: 45%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items:center;
		}

			.navbar .navbar-options {
				height:3vw;
				width: 3vw;
			}

				.navbar-options img{
					height:1.9vw;
					width:1.9vw;
				}



/* Search bar */
	.search-bar {
		margin: 5vw 0 0 7vw;
		height: 10vw;
		width: 93vw;
		display:flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}


		.search-bar #bar {
			height:6vw;
			width: 53vw;
		}
			
		.search-bar .hanger span{
			font-weight: 900;
			opacity: 0.25;
		}

		.search-bar input{
			outline: none;
			text-decoration: none;
			margin:0;
			padding	:2vw 2vw 2vw 3vw;
			height:6vw;
			width: 53vw;
			border-radius: 0.6vw;
			border:none;
			box-shadow: 0 0 1vw rgb(145, 141, 141, 0.25);
			text-align: start;
			opacity:0.6;
			text-shadow: none;
		}

			.search-bar input[placeholder] {
				font-size: medium;
			}
		
	/* Date -Time -Icons*/
	.date-time {
		margin: 0 0 5vw 7vw;
		height:1vw;
		width:93vw;
		display: flex;
		justify-content: center;
	}

		.date-time .date-time-content {
		height:3vw;
		width: 17vw;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1.25vw;
		}

		.date-time-content img {
			height: 1.5vw;
			width: 1.5vw;
			opacity: 0.3;
		}


/* Card section */
	.cards-section {
		height: 17vw;
		width:93vw;
		margin: 2vw 0 1vw 7vw;
		display: flex;
		justify-content: center;
		align-self: center;	
	}

		.cards-section #card-plate {
			height: 17vw;
			width: 53vw;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}

		#card-plate .card{
			height:15vw;
			width: 12vw;
			border-radius: 0.5vw;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			box-shadow: 0 0 1vw rgb(145, 141, 141, 0.25);
			
		}


/*------------------- menu over table------------------------- */ 
		
	.menu-over-table {
		height: 3vw;
		width:93vw;
		margin: 2vw 0 0 7vw;
		display: flex;
		justify-content: center;
		align-self: center;	
	}

		.menu-over-table .menu-over-table-plate {
			height: 3vw;
			width: 53vw;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

			.menu-over-table-plate .boxes-plate {
				height:3vw;
				width: 11vw;
				display:flex;
				justify-content: space-between;
			}

				.boxes-plate .boxes {
					box-sizing: border-box;
					height:3vw;
					width: 3vw;
					border-radius: 0.2vw;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
					opacity:0.7;
					box-shadow: 0 0 1vw rgb(145, 141, 141, 0.25);
				}

					.boxes img {
						height:1.5vw;
						width:1.5vw;
						opacity:0.5;
					}
			
			.menu-over-table-plate .scroll-text {
				height: 2.5vw;
				width:6.5vw;
				display:flex;
				justify-content: space-between;
				align-items: flex-end;
				/* font-size: 1.5vw; */
			}

				.scroll-text .arrow {
					height: 1.3vw;
					width: 1vw;
					display: flex;
					align-items: center;
				}

					.arrow img{
						height: 0.6vw;
						width: 0.6vw;	
						opacity:0.6;			
					}



	.legend {
		height:10vw;
		width:93vw;
		margin: 0 0 0 7vw;
		display:flex;
		justify-content: center;
		align-items: center;
	}

		.legend .legend-plate {
			height: 9vw;
			width: 53vw;
			border-radius: 0.4vw;
			display: flex;
			justify-content: space-between;
			box-shadow: 0 0 1vw rgb(145, 141, 141, 0.25);

		}

			.legend-plate .columns {
				height:10vw;
				width: 26vw;
				border-radius: 0.3vw;
				padding: 2vw;
				display: flex;
				flex-flow: column;
				justify-content: space-evenly;
				align-items: flex-start;
			}

				.columns .items {
					height:2vw;
					width:100%;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
				}


					
/* -------------------------Table-------------------------------------- */
	.table {
		box-sizing: border-box;
		height: auto;
		width: 93vw;
		margin: 0 0 5vw 7vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.table #table-plate {
			height: auto;
			width: 53vw;
		}
		
			#table-plate .heading-row {
				height: auto;
				width: 53vw;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
			
				.heading-row .table-heading{
					box-shadow: 0 0 1vw rgba(170, 166, 166, 0.25);
					background-color: rgb(229, 226, 226);
					height: auto;
					width: 10vw;
					border-radius:0.2vw;
					display: flex;                             
					justify-content: center;
					align-items: center;
				}

			#table-plate #data-row {
				height: auto;
				width: 53vw;    
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
			
				#data-row .data{
					box-shadow: 0 0 1vw rgba(170, 166, 166, 0.25);
					background-color: rgb(240, 234, 234);
					margin-top:0.5vw;
					height: 5vw;	
					width: 10vw;
					padding: 1vw;
					border-radius:0.2vw;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink:0;
				}

/* -----------------------bottom section ----------------- */

	.bottom-section {
		height: 15vw;
		width:93vw;
		margin: 0 0 0 7vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.bottom-section .bottom-section-plate {
			height: 15vw;
			width: 53vw;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

			.bottom-section-plate .text {
				background-color: rgb(179, 229, 248);
				color: rgb(63, 187, 236);
				margin-bottom: 5vw;
			}



}